
html{
  height:100%;
  width: auto;
    text-size-adjust: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: url(https://images.unsplash.com/photo-1529832393073-e362750f78b3?ixlib=rb-1.2.1&ixid) no-repeat center;
    background-size: cover;
    height: 100%;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card{
    justify-content: center;
    box-shadow: 0px 0px 5px grey;
    display: inline-block;
    padding: 50px;
    border-radius: 5px;
    background-color: white;
}


.title {
  font-size: 45px;
}
